*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // font-family: 'Roboto', sans-serif;
}

// body {
 // font-size: 1.6rem;
//   min-height: 100vh;

//   display: grid;
//   grid-template-rows: auto 1fr auto auto auto; 
// }