/* COLORS */
$color-text-nav: #FFA22B;
$color-text-primary: #873622;
$color-text-secondary: #e6107e;
$color-text-black: #000;

$background-color-header: rgba(107,54,34,100);
$background-color-footer: rgb(250,170,72);
$background-color-sucursal: #fffaf0;
$background-color-reserva: #f8d7c8;

/* SETEAR BOOTSTRAP */
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1.6rem;