/***********************************************************/
/***** Sección Header **************************************/
/***********************************************************/
.header.bd-navbar {
  background-color: rgba(107,54,34,100);
}

.header .navbar-brand img  {
  border-radius: 5px;
}
  
.header button {
  font-size: 40px;
  border: 1px solid $color-text-nav;
  color: $color-text-nav;
}

.header .navegacion ul li a {
  color: $color-text-nav;
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
}
.header .navbar-toggler-icon {
  color: $color-text-nav;
}