/***************************************************/
/***** Opción menu (Menu) **************************/
/***************************************************/
.menu__title {
    text-align: center;
    color: coral;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 40px;
}